<app-header></app-header>
<app-progress-bar [show]="!course"></app-progress-bar>
<div *ngIf="course" class="container">
  <a mat-raised-button [routerLink]="['/']"> Вернуться на главную страницу </a>
  <div class="course">
    <h2>Курс: {{ course.title }}</h2>
    <h4>Описание: {{ course.description }}</h4>
    <div>
      <h3>Уроки:</h3>
      <div *ngFor="let lesson of course?.lessons | sortLessons">
        <a
          mat-button
          class="lesson-link"
          [routerLink]="['/course', course?.id, 'lesson', lesson.id]"
          >{{ lesson.order }} - {{ lesson.title }}</a
        >
        <a
          matTooltip="Изменить"
          *ngIf="canEdit"
          mat-button
          class="lesson-link"
          [routerLink]="[
            '/author',
            'course',
            course?.id,
            'edit-lesson',
            lesson.id
          ]"
          ><mat-icon>edit</mat-icon>
        </a>
      </div>
    </div>
  </div>
</div>
