<app-progress-bar [show]="!course"></app-progress-bar>
<div *ngIf="course" class="container">
  <a mat-raised-button [routerLink]="['/']"> Вернуться на главную страницу </a>
  <div class="course">
    <h2>Курс: {{ course.title }}</h2>
    <h4>Описание: {{ course.description }}</h4>
    <div>
      <h3>Уроки:</h3>
      <a
        mat-button
        *ngFor="let lesson of course.lessons"
        [routerLink]="['/course', course.id, 'lesson', lesson.id]"
      >
        {{ lesson.order + 1 }} - {{ lesson.title }}</a
      >
    </div>
  </div>
</div>
