@page
@model HomeModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Home</h1>
    <p>@Model.ErrorMessage</p>
    <p>@Model.ErrorId</p>
    <p>@Model.ErrorDescription</p>
</div>
