<mat-form-field appearance="outline">
  <mat-label>Пароль</mat-label>
  <input
    matInput
    [formControl]="control"
    [type]="hidePassword ? 'password' : 'text'"
  />
  <button mat-icon-button matSuffix (click)="hidePassword = !hidePassword">
    <mat-icon>{{ hidePassword ? "visibility_off" : "visibility" }}</mat-icon>
  </button>
  <mat-error *ngIf="control?.hasError('required')"> Введите пароль </mat-error>
  <mat-error *ngIf="control?.hasError('minlength')">
    Пароль должен быть больше
    {{ control?.getError("minlength").requiredLength }} символов
  </mat-error>
  <mat-error>
    {{ control?.errors | customError }}
  </mat-error>
</mat-form-field>
