.title {
  display: flex;
}

.filepicker {
  display: none;
}

.filepicker-img {
  position: relative;
  left: -32px;
  top: 16px;
  cursor: pointer;
}

.actions {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}
