.colors {
  display: flex;
  flex-wrap: wrap;
}

.colors > :nth-child(n) {
  margin: 5px;
}

.color > mat-icon {
  color: rgb(218, 220, 224);
}

.header {
  display: flex;
  margin-bottom: 10px;
  justify-content: space-between;
  margin-right: 20px;
  font-size: 16px;
}
