.flex {
  display: flex;
}

.color-table {
  display: table;
}

.color-table .row {
  display: table-row;
}
.color-table .col {
  display: table-cell;
  vertical-align: middle;
}
.color > mat-icon {
  color: rgb(218, 220, 224);
}

.header {
  display: flex;
  margin-bottom: 10px;
  justify-content: space-between;
  font-size: 16px;
}
