<mat-card>
  <mat-card-header>
    <mat-card-title>{{ course?.title }}</mat-card-title>
    <mat-card-subtitle style="padding-top: 10px"
      >Количество уроков: {{ course?.lessonIds?.length }}</mat-card-subtitle
    >
  </mat-card-header>
  <mat-card-content class="card-content">
    <div>{{ course?.description }}</div>

    <div *ngIf="isLoaded && course?.lessons">
      <div style="padding-top: 10px">Уроки:</div>
      <div *ngFor="let lesson of course?.lessons | sortLessons">
        <a
          mat-button
          class="lesson-link"
          [routerLink]="['/course', course?.id, 'lesson', lesson.id]"
          >{{ lesson.order }} - {{ lesson.title }}</a
        >
        <a
          matTooltip="Изменить"
          *ngIf="canEdit"
          mat-button
          class="lesson-link"
          [routerLink]="[
            '/author',
            'course',
            course?.id,
            'edit-lesson',
            lesson.id
          ]"
          ><mat-icon>edit</mat-icon></a
        >
      </div>
    </div>
  </mat-card-content>
  <mat-card-actions class="card-actions">
    <button mat-raised-button *ngIf="!isLoaded" (click)="loadLessons()">
      Показать уроки
    </button>
    <button
      mat-raised-button
      color="primary"
      [routerLink]="['/course', course?.id]"
    >
      Перейти к курсу
    </button>
  </mat-card-actions>
</mat-card>
