<mat-progress-bar *ngIf="showProgress" mode="indeterminate"></mat-progress-bar>

<form *ngIf="!showProgress" [formGroup]="form" class="row">
  <mat-form-field>
    <mat-label>Электронная почта</mat-label>
    <input matInput formControlName="email" />
    <mat-error *ngIf="form.controls.email.hasError('required')">
      Введите эл. почту
    </mat-error>
    <mat-error *ngIf="form.controls.email.hasError('email')">
      Эл. почта не корректна
    </mat-error>
    <mat-error>
      {{ form.controls.email.errors | customError }}
    </mat-error>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Пароль</mat-label>
    <input matInput formControlName="password" />
    <mat-error *ngIf="form.controls.password.hasError('required')">
      Введите пароль
    </mat-error>
    <mat-error *ngIf="form.controls.password.hasError('minlength')">
      Пароль должен быть больше
      {{ form.controls.password.getError("minlength").requiredLength }} символов
    </mat-error>
    <mat-error>
      {{ form.controls.password.errors | customError }}
    </mat-error>
  </mat-form-field>

  <button mat-raised-button (click)="register()">Зарегистрироваться</button>
</form>
