<app-progress-bar [show]="showProgress"></app-progress-bar>
<form *ngIf="!showProgress" [formGroup]="form" class="form">
  <h1>Регистрация</h1>
  <app-email [control]="email" class="control"></app-email>
  <app-password [control]="password" class="control"></app-password>

  <div class="actions">
    <button mat-raised-button color="primary" (click)="register()">
      Зарегистрироваться
    </button>
  </div>
  <a [routerLink]="['/login']" color="primary" class="login-link"
    >Уже есть учетная запись? Войди!</a
  >
</form>
