<div>
  <div class="header">
    <div style="margin-bottom: 10px">Добавление ссылки</div>
    <mat-icon
      matTooltip="Закрыть"
      onmousedown="event.preventDefault();"
      style="cursor: pointer;"
      (click)="cancelClick()"
      >close</mat-icon
    >
  </div>
  <div class="table">
    <div class="row">
      <div class="col">Url - адрес</div>
      <input matInput class="col editor" [formControl]="urlControl" />
    </div>
    <div class="row">
      <div class="col">Подпись</div>
      <input matInput class="col editor" [formControl]="titleControl" />
    </div>
  </div>
  <div class="actions">
    <button
      mat-raised-button
      onmousedown="event.preventDefault();"
      (click)="cancelClick()"
    >
      Отмена
    </button>
    <button
      mat-raised-button
      color="primary"
      onmousedown="event.preventDefault();"
      (click)="selectClick()"
    >
      Сохранить
    </button>
  </div>
</div>
