<form [formGroup]="form">
  <div class="header">
    <div style="margin-bottom: 10px">Добавление ссылки</div>
    <mat-icon
      matTooltip="Закрыть"
      onmousedown="event.preventDefault();"
      style="cursor: pointer"
      (click)="cancelClick()"
      >close</mat-icon
    >
  </div>
  <div class="table">
    <div class="row">
      <div class="col">Url - адрес</div>
      <input matInput class="col editor" formControlName="url" />
      <mat-error
        style="padding: 0 10px"
        *ngIf="saveClicked && form.get('url')?.hasError('required')"
      >
        Введите Url - адрес
      </mat-error>
    </div>
    <div class="row">
      <div class="col">Подпись</div>
      <input matInput class="col editor" formControlName="title" />
      <mat-error
        style="padding: 0 10px"
        *ngIf="saveClicked && form.get('title')?.hasError('required')"
      >
        Введите подпись
      </mat-error>
    </div>
  </div>
  <div class="actions">
    <button
      mat-raised-button
      onmousedown="event.preventDefault();"
      (click)="cancelClick()"
    >
      Отмена
    </button>
    <button
      mat-raised-button
      color="primary"
      onmousedown="event.preventDefault();"
      (click)="selectClick()"
    >
      Сохранить
    </button>
  </div>
</form>
