/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css2?family=Raleway&display=swap");

/*
@Large desktops and laptops 
media (min-width: 1200px) { }

Portrait tablets and medium desktops
@media (min-width: 992px) and (max-width: 1199px) { }

Portrait tablets and small desktops
@media (min-width: 768px) and (max-width: 991px) { }

Landscape phones and portrait tablets 
@media (max-width: 767px) { }

Landscape phones and smaller 
@media (max-width: 480px) { }
*/

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
h1 {
  color: #122947;
  font-family: Raleway;
  text-transform: lowercase;
  font-size: 58px !important;
}

.center {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.background-shadow {
  background: rgba(0, 0, 0, 0.32);
}

.warn {
  background-color: #f44336;
  color: #fff;
}

/* Чтобы надпись action была такого же цвета, что и основной текст snackbar  */
.mat-snack-bar-container .mat-simple-snackbar-action {
  color: inherit;
}

.container {
  max-width: 1024px;
  margin: 0 auto;
}

/* Для маленьких экранов */
@media (max-width: 978px) {
  .container {
    padding: 10px;
  }
}

/* Для Больших экранов */
@media (min-width: 979px) {
  .container {
    padding: 20px;
  }
}

.spacer {
  flex: 1 1 auto;
}

.color {
  cursor: pointer;
  width: 24px;
  height: 24px;
  font-size: 24px;
  border-radius: 50%;
  border: 1px solid rgb(218, 220, 224);
  display: flex;
  align-items: center;
  justify-content: center;
  user-select: none;
}

.control > .mat-form-field {
  width: 250px !important;
}

.li-col-3 {
  columns: 3;
  -webkit-columns: 3;
  -moz-columns: 3;
}

.without-space-bottom.mat-form-field .mat-form-field-wrapper {
  margin: 0;
  padding-bottom: 0;
}

.code {
  border-radius: 20px;
  display: flex;
  margin: 0 20px;
}

.dart.black {
  background-color: rgb(30, 30, 30);
}
.dart span {
  font-size: 16px;
  font-weight: 500;
}
.dart .type {
  color: rgb(113, 198, 177);
}

.dart .val {
  color: rgb(212, 212, 212);
}

.dart .symb {
  color: rgb(147, 147, 147);
}

.dart .string {
  color: rgb(206, 145, 120);
}

.dart .int {
  color: rgb(176, 200, 163);
}

.dart .comment {
  color: rgb(87, 113, 70);
}

.dart .keyword {
  color: rgb(102, 155, 209);
}

.dart .new {
  color: rgb(188, 138, 189);
}

.dart .method {
  color: rgb(220, 220, 169);
}
