h1 {
  text-align: center;
  font-weight: 500;
  font-size: 58px !important;
  text-transform: none;
  line-height: 68px;
}
h2 {
  text-align: center;
  color: #122947;
  font-family: Raleway;
  font-style: normal;
  font-weight: 300;
  font-size: 32px;
}

.container {
  padding: 0 200px;
}

.skill-groups {
  padding-top: 20px;
}

.skill-groups-label {
  font-size: 18px;
  padding: 10px 0;
}

.skill-find {
  margin-top: 20px;
  display: inline-block;
}
.button-skill-find {
  border: 2px solid;
  border-radius: 20px;
}
.button-skill-find span {
  margin: 0 15px;
}

.course-list {
  padding-top: 30px;
}

.footer {
  position: absolute;
  bottom: 0;
}
