h1 {
  text-align: center;
  font-weight: 500;
  font-size: 58px !important;
  text-transform: none;
  line-height: 68px;
}
h2 {
  text-align: center;
  color: #122947;
  font-family: Raleway;
  font-style: normal;
  font-weight: 300;
  font-size: 32px;
}

.spacer {
  flex: 1 1 auto;
}

.container {
  padding: 0 200px;
}

.skill-groups {
  padding-top: 20px;
}

.footer {
  position: absolute;
  bottom: 0;
}
