<header>
  <mat-toolbar color="primary">
    <button mat-icon-button>
      <mat-icon>menu</mat-icon>
    </button>
    <span>SkillLearn</span>
    <span class="spacer"></span>
    <!--<button mat-icon-button>
      <mat-icon>favorite</mat-icon>
    </button>
    <button mat-icon-button>
      <mat-icon>share</mat-icon>
    </button>-->
    <button mat-icon-button [matMenuTriggerFor]="account">
      <span *ngIf="userName">{{ userName }}</span>
      <mat-icon>person</mat-icon>
    </button>

    <mat-menu #account>
      <a *ngIf="!isLogged" mat-menu-item [routerLink]="['/login']">
        <span>Войти</span>
      </a>
      <a *ngIf="!isLogged" mat-menu-item [routerLink]="['/register']">
        <span>Зарегистрироваться</span>
      </a>
      <button *ngIf="isLogged" mat-menu-item (click)="logout()">
        <span>Выйти</span>
      </button>
    </mat-menu>
  </mat-toolbar>
</header>
<h1>SkillLearn</h1>

<div class="container">
  <h2>Прокачай свои навыки!</h2>

  <div class="skill-groups">
    <div class="skill-groups-label">Выбрерите раздел:</div>
    <mat-chip-list
      *ngIf="skillGroups$ | async; let groups"
      [selectable]="true"
      [multiple]="true"
    >
      <mat-chip
        color="primary"
        *ngFor="let group of groups"
        [selected]="isSelectedSkillGroup(group)"
        (click)="changeSkillGroup(group)"
        >{{ group.title }}</mat-chip
      >
    </mat-chip-list>
    <div class="skill-find" [matTooltip]="canSearch ? '' : 'Выберите раздел'">
      <button
        class="button-skill-find"
        mat-stroked-button
        [disabled]="!canSearch"
        color="primary"
        (click)="loadCourses()"
      >
        <mat-icon>search</mat-icon>
        <span>Найти навыки</span>
      </button>
    </div>
    <div class="course-list">
      <app-course-card-small
        *ngFor="let course of courses"
        [course]="course"
      ></app-course-card-small>
    </div>
  </div>
  <footer class="footer"></footer>
</div>
