<app-progress-bar [show]="!lesson"></app-progress-bar>

<div class="container">
  <div *ngIf="lesson">
    <a mat-raised-button [routerLink]="['/course', courseId]">
      Назад к курсу
    </a>
    <article>
      <h2>{{ lesson.order }} - {{ lesson?.title }}</h2>
      <div>{{ lesson?.description }}</div>
      <div class="content" [innerHTML]="lesson?.content"></div>
      <div class="actions">
        <a
          *ngIf="nextLessonId"
          mat-raised-button
          color="primary"
          class="lesson-link"
          [routerLink]="['/course', course?.id, 'lesson', nextLessonId]"
          >Следующий урок</a
        >
      </div>
    </article>
  </div>
</div>
