.component {
  min-width: 580px;
}

.row {
  display: block !important;
}

.form {
  margin-top: 30px;
}

.actions {
  margin-top: 0;
}

.actions :nth-child(n) {
  margin-right: 15px;
}

.actions button:last-child {
  margin-right: 0;
}
